<main class="contenedor">
    <form action="/create-account" method="post" class="default-form">
        <div class="campo">
            <label for="">Name</label>
            <input type="text" name='name' placeholder="Your Name">
        </div>
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name='email' placeholder="Your Email">
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name='password' placeholder="Your Password">
        </div>
        <div class="campo">
            <label for="">Retype Password</label>
            <input type="password" name='confirm' placeholder="Retype Password">
        </div>
        <div class="campo acciones">
            <a href="/login">Login?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Create Account" class="btn btn-azul">
        </div>
    </form>
</main>