<main class="contenedor">
    <form  class="default-form" method="POST">

        <div class="campo">
                <label for="">New password</label>
                <input type="password" name="password" placeholder="New password">
            </div>
            <div class="campo">
                <input type="submit" value="Save Password" class="btn btn-azul">
            </div>
    </form>
</main>